@using Umbraco.Cms.Core.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var selection = Umbraco.Content(Guid.Parse("9e1b266c-ec4b-4a3d-be74-65ee61835d46"))
    .ChildrenOfType("articleItem")
    .Where(x => x.IsVisible())
    .OrderBy(x => x.CreateDate)
    .Take(9);

    double scrollAmount = (selection.Count()) / 3d;
}

<div class="article-news-section container">
    <h6 class="theme-colour-orange">Article & News</h6>
    <div class="header-and-button">
        <h1>Get Every Single Articles & News</h1>
        <a class="button-theme-transparent">Browse Articles <i class="bi bi-arrow-up-right"></i></a>
    </div>

    <!-- Article Cards -->
    <div class="article-cards" id="scrollable-article-div">
       
        @foreach (var item in selection)
        {
            @Html.Partial("_MediumArticleCard", item)
        }

    </div>
    <div class="scroll-bar">
      
        @if (scrollAmount > 1)
        {
            @for (int i = 1; i <= (Math.Ceiling(scrollAmount)); i++)
            {

                string idName = $"articleBarScrollTo{@i}";
                int scrollTo = (i - 1) * 1290;

                <div onclick="scrollArticleRowToPosition(@scrollTo, @i)" id="@idName" class="round-scroll-item"></div>
            }
        }
        
    </div>
    
</div>