@using Umbraco.Cms.Core.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage



<div class="article-news-section container">
    <h6 class="theme-colour-orange">Article & News</h6>
    <div class="header-and-button">
        <h1>Get Every Single Articles & News</h1>
        <button class="button-theme-transparent">Browse Articles <i class="bi bi-arrow-up-right"></i></button>
    </div>
        
    <!-- Article Cards -->
    <div class="article-cards">
        @{
            var selection = Umbraco.Content(Guid.Parse("9e1b266c-ec4b-4a3d-be74-65ee61835d46"))
            .ChildrenOfType("articleItem")
            .Where(x => x.IsVisible())
            .OrderBy(x => x.CreateDate);
        }
        
        @foreach (var item in selection)
        {
            @Html.Partial("_MediumArticleCard", item)
        }
    </div>
       
</div>