@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


<!-- Features -->
<div class="features-section">
    <div class="container">
        <div class="left-text">
            <h6>Features</h6>
            <h1>@Model.Value("companyFeaturesHeader")</h1>
            <button class="button-theme">Learn More <i class="bi bi-arrow-up-right"></i></button>
        </div>
        <div class="right-items">
            <div class="info-item">
                <i class="fa-solid fa-handshake"></i>
                <h5>Business Advice</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="info-item">
                <i class="bi bi-lightbulb"></i>
                <h5>Business Advice</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="info-item">
                <i class="bi bi-graph-up-arrow"></i>
                <h5>Business Advice</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="info-item">
                <i class="bi bi-building-gear"></i>
                <h5>Business Advice</h5>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>        
    </div>
</div>