@using CritoProject.Controllers;
@model CritoProject.ViewModels.ContactUsFormViewModel;


@using (Html.BeginUmbracoForm<ContactController>(nameof(ContactController.Index)))
{
    <div asp-validation-summary="All"></div>
    <input asp-for="Name" type="text" placeholder="Name*">
    <input asp-for="Email" type="email" placeholder="Email*">
    <textarea asp-for="Message"  type="text" placeholder="Your Message*" rows="6"></textarea>
    <button class="button-theme" type="submit">Send Message <i class="bi bi-arrow-up-right"></i></button>
}
