@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    
}

<!-- Navbar -->
<nav class="navbar ">
    <div class="container">
        <span class="logo">
            <img src="/images/logotypes/logotype.svg" alt="Crito">
        </span>

        <div class="navbar-links">
            <div class="upper-links">
                <div class="left-links">
                    <a href=""><i class="bi bi-telephone-forward"></i>+46 (8) 123 470 50</a>
                    <span class="vertical-line-small"></span>
                    <a href="" ><i class="bi bi-envelope-at"></i></i>info@crito.com</a>
                    <span class="vertical-line-small"></span>
                    <a href="" ><i class="bi bi-geo-alt"></i>Sveavägen 31, 111 34 STOCKHOLM</a>
                </div>
                <div class="right-links">
                    <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
                    <a href="https://twitter.com/" target="_blank"><i class="bi bi-twitter"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.linkedin.com/" target="_blank"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
            <div class="lower-links">
                <div class="left-links">
                    <a href="">Home</a>
                    <a href="">Service</a>
                    <a href="">News</a>
                    <a href="">Contact</a>
                </div>
                <div class="right-links">
                    <button class="button-theme">Login <i class="bi bi-arrow-up-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</nav>