@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


@{
    var selection = Umbraco.Content(Guid.Parse("1e8442e7-09d3-4268-bd86-6a4a55c9347c"))
    .ChildrenOfType("employeeProfilePage")
    .Where(x => x.IsVisible())
    .OrderBy(x => x.Name);

    double scrollAmount = (selection.Count()) / 4d;
}







<div class="employee-info-section">
     <!-- Employees info section -->
    <div class="container">
        <h6 class="theme-colour-orange font-bold">Meet Our Team</h6>
        <div class="header-text">
            <h1 class="font-bold">@Model.Value("employeeInfoSectionTitle")</h1>
            <a href="@Model.Value("employeeInfoSectionButtonUrl")" class="button-theme-transparent">Browse Team <i class="bi bi-arrow-up-right"></i></a>
        </div>
        <div class="employee-profiles" id="scrollable-employee-cards-div">
            	@foreach (var item in selection)
            	{
                    @Html.Partial("Components/EmployeeProfileCard", item)
            	}
        </div>
        <div class="scroll-bar">
            @if (scrollAmount > 1)
            {
                @for (int i = 1; i <= (Math.Ceiling(scrollAmount)); i++)
                {

                    string idName = $"employeesBarScrollTo{@i}";
                    int scrollTo = (i - 1) * 1290;

                    <div onclick="scrollEmployeeRowToPosition(@scrollTo, @i)" id="@idName" class="round-scroll-item"></div>
                }
            }
        </div>
    </div>
</div>