@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models


 <!-- Related Buisnesses section -->
<div class="container related-buisnesses">
    @{
        var images = Model.Value<IEnumerable<MediaWithCrops>>("relatedBrandsImages");
        foreach (var image in images)
        {
            <img src="@image.MediaUrl()" alt="@image.Value("alt")">
        }
    }
</div>