@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

<!-- Signup Section -->
<div class="signup-section">
    <div class="container">
        <h1>Get News Updates By Signup</h1>
        <form class="signup-form">
            <input type="email" placeholder="username@domain.com">
            <button class="button-theme">Subscribe <i class="bi bi-arrow-up-right"></i></button>
        </form>
    </div>
</div>