@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Main.cshtml";
}

@await Html.PartialAsync("_Breadcrumb")

<!-- Contact Information boxes -->
<div class="contact-information container">
        <div class="info-box">
            <div class="round-icon">
                <i class="bi bi-geo-alt-fill"></i>
            </div>
            <div class="text">
                <h5>Visit us</h5>
                <p>Sveavägen 31</p>
                <p>111 34 STOCKHOLM</p>
            </div>
        </div>
        <div class="info-box">
            <div class="round-icon">
                <i class="bi bi-telephone-fill"></i>
            </div>
            <div class="text">
                <h5>Call us</h5>
                <p>+46 (8) 121 470 50</p>
                <p>+46 (8) 121 470 51</p>
            </div>
        </div>
        <div class="info-box">
            <div class="round-icon">
                <i class="bi bi-envelope-fill"></i>
            </div>
            <div class="text">
                <h5>Email us</h5>
                <p>info@crito.com</p>
                <p>support@crito.com</p>
            </div>
        </div>
    </div>

<!-- Contact form -->
<div class="contact-form container">
    <h1>Leave us a message for any information.</h1>
    <form action="">
        <input type="text" placeholder="Name*">
        <input type="email" placeholder="Email*">
        <textarea name="" placeholder="Your Message*" id="" cols="30" rows="10"></textarea>
        <button class="button-theme" type="submit">Send Message <i class="bi bi-arrow-up-right"></i></button>
    </form>
</div>

<!-- Maps -->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1188.9006894685606!2d15.221394324436037!3d59.27700573840324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465c151cdaf37d85%3A0xe696cf273abdb95e!2sS%C3%B6dra%20Grev%20Rosengatan%2012%2C%20703%2062%20%C3%96rebro!5e0!3m2!1sen!2sse!4v1694960525178!5m2!1sen!2sse" width="100%" height="620px" style="border:0; margin-top: 120px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    