@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Lato:wght@300;400;700&display=swap');

/* Seperate classes */
body {
    font-family: 'Inter', sans-serif;
}
a {
    color: black;
}

.active {
    font-weight: bold !important;
}


/* Arrow button */
.arrow-button {
    background-color: black;
    color: white;
    font-size: 35px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    transition: 0.1s ease-in-out;
    border: none;
}
.arrow-button:hover {
    background-color: white;
    color: black;
    scale: 1.1;

}

/* Play button */
.play-button {
    width: 48px;
    height: 48px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
/* Button Theme */
.button-theme {
    padding: 10px 30px;
    border-radius: 40px;
    border: none;
    background: #f9d783;
    font-weight: 600;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    text-align: center;

}
.button-theme:hover{
    scale: 1.1;
    background: black;
    color: white;
}

/* Transparent button theme */
.button-theme-transparent {
    border-radius: 40px;
    border: 1px solid black;
    background: transparent;
    font-weight: 600;
    transition: 0.2s ease-in-out;
    padding: 20px 35px;
    text-decoration: none;
}
.button-theme-transparent:hover{
    padding: 21px 38px;
    font-size: 17px;
}

/* Orange theme colour */
.theme-colour-orange {
    color: #f94d1c;
}

/* Article Card */

.article-card-medium {
    display: flex;
    flex-direction: column;
    height: 420px;
    width: 420px;
    gap: 10px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    
}
.article-card-medium:hover {
    scale: 1.01;
}
.article-card-medium .image-section {
    width: 420px;
    height: 230px;
    overflow: hidden;
    position: relative;
}

.article-card-medium .image-section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
.article-card-medium .image-section .article-date {
    position: absolute;
    background-color: #F9D783;
    height: 64px;
    width: 56px;
    top: 16px;
    left: 16px;
    text-align: center;
}
.article-card-medium .image-section .article-date h5 {
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 0;
    line-height: 15px;
}
.article-card-medium .image-section .article-date p {
    margin: 0;
}
.article-card-medium .description  {
    margin-top: 20px;
}
.article-card-medium .description h5 {
    font-weight: bold;
    max-width: 310px;
}

/* Navbar */
.mobile-menu-open {
    height: 450px !important;
}
.navbar{
    background-color: #F0EFE9;
}
.navbar .container {
    transition: 0.3s ease-in-out;
    height: 60px;
    overflow: hidden; 
}
.navbar .container .logo {
    align-self: flex-start;
}

.navbar .container .mobile-menu  {
    border: none;
    align-self: flex-start;
    font-size: 40px;
}
.navbar .container .navbar-links  {
    text-align: right;
    height: 450px;
    width: 100%;
}

.navbar .container .navbar-links .social-media-links {
    display: flex;
    justify-content: end;
    gap: 10px;
}
.navbar .container .navbar-links .social-media-links a {
    transition: 0.2s ease-in-out;
}
.navbar .container .navbar-links .social-media-links a:hover {
    scale: 1.1;
}
.navbar .container .navbar-links ul {
    list-style: none;
    line-height: 40px;
    display: flex;
    justify-content: end;
    flex-direction: column;
}
.navbar .container .navbar-links ul li {
    display: flex;
    justify-content: end;
}
.navbar .container .navbar-links ul a {
    text-decoration: none; 
    transition: 0.2s ease-in-out;
}

.navbar .container .navbar-links .upper-links ul a:hover {
    scale: 1.03;
}

@media only screen and (min-width: 1200px) {
    .navbar .container{
        height: auto;
        display: flex;
        height: 100px;

    }
    .navbar .container .logo {
        flex: 1; 
        margin-top: 15px;
    }
    .navbar .container .mobile-menu  {
        display: none;
    }
    .navbar .container .navbar-links  {
        flex: 4;
    }
    .navbar .navbar-links .upper-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        border-bottom: 1px solid rgba(22, 22, 22, 0.15);
    }
    .navbar .container .navbar-links ul {
        flex-direction: row;
        justify-content: space-between;
        padding: 0;    
        line-height: 20px; 
         
    }
    .navbar .container .navbar-links ul li {
        display: flex;
    }

    .navbar .navbar-links .upper-links .contact-links a {
        padding: 5px 0px 1px 0px;
        margin-right: 30px;
        text-decoration: none;
        font-weight: 200;
        transition: 0.2s ease-in-out;
        border-bottom: 1px solid rgba(146, 146, 146, 0);
        
    }
    .navbar .navbar-links .upper-links .contact-links a:hover {
        scale: 1.05;
        border-bottom: 1px solid rgba(26, 26, 26, 0.705);
    }
    .navbar .navbar-links .upper-links .contact-links a i {
        margin-right: 7px;
    }
    .navbar .navbar-links .upper-links .social-media-links {
        margin-top: -10px;
        display: flex;
        justify-content: space-between;
    }
    .navbar .navbar-links .upper-links .social-media-links a:hover {
        scale: 1.3;
    }
    .vertical-line-small {
        border-left: 1px solid rgba(22, 22, 22, 0.15);
        margin-right: 15px;
    }
    .navbar .navbar-links .local-links {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }
    .navbar .navbar-links .local-links .left-links ul {
        display: flex;
        gap: 40px;
        
    }

    .navbar .navbar-links .local-links .left-links a {
        text-decoration: none;
        position: relative;
    }
    
    .navbar .navbar-links .local-links .left-links a::after {
        transition: .2s;
        content: '';
        position: absolute;
        width: 0;
        height: 1px;
        background: black;
        left: 50%;
        bottom: -3px;
        transform: translate(-50%, -50%);
    }
    
    .navbar .navbar-links .local-links .left-links a:hover::after {
        width: 100%;
    }

    .navbar .navbar-links .local-links .button-theme {
        margin-top: -10px;
    }
}


  /* Header */
.header {
    background-color: #F0EFE9;
    height: 780px;
}
.header .container {
    height: 100%;
    display: flex;
    align-items: center;
}
.header .container .left-text h1  {
    font-size: 70px;
    font-weight: bold;
}
.header .container .left-text p {
    font-size: 20px;
    color: rgba(25,25,25,0.7 );
}

.header .header-image {
    position: relative;
    height: 100%;
    width: 100%;
}
.header .header-image img {
    position: absolute;
    bottom: 0;
}

/* Related Buisnesses section  */
.related-buisnesses {
    display: flex;
    justify-content: space-between;
    height: 90px;
    margin-top: 80px;
    margin-bottom: 80px;
}

/*Features section*/
.features-section {
    border: 1px solid #1919192d;
    border-radius: 5px;
    margin: 0 5%;
}
.features-section .container {
    display: flex;
    gap: 140px;
    padding: 80px 30px 50px 0;

}
.features-section .left-text {
    width: 860px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.features-section .left-text h6 {
    color: #f94d1c;
}
.features-section .left-text h1 {
    font-size: 45px;
    font-weight: bold;
    width: 100%;
}
.features-section .left-text a {
    width: 100%;
    margin-top: 48px;
    text-decoration: none;
    text-align: center;
}

.features-section .right-items .umb-block-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.features-section .right-items .umb-block-list .info-item {
    width: 300px;
    height: 220px;
    padding: 30px;
}
.features-section .right-items .umb-block-list .info-item i {
    font-size: 25px;
}

/* About company section */
.about-section {
    display: flex;
    justify-content: space-between;
    gap: 250px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.about-section .left-side {
    position: relative;
    height: 615px;
}
.about-section .left-side .image-text-box {
    position: absolute;
    bottom: 55px;
    width: 368px;
    height: 180px;
    filter: drop-shadow(0px 18px 20px rgba(44,44,44,0.15 ));   
    background-color: #BEEBFF; 
    padding: 30px 24px;
}

.about-section .left-side .image-text-box h5 {
    color: #f94d1c;
    font-size: 16px;
}
.about-section .left-side .image-text-box h5 strong {
    color: black;
    font-size: 20px;
}

.about-section .left-side img {
    height: 615px;
    margin-left: 70px;
}

.about-section .right-side {
    flex: 1;
}
.about-section .right-side h1 {
    font-size: 45px;
    font-weight: bold;
    margin-top: 25px;
}
.about-section .right-side p {
    color: rgba(25, 25, 25, 0.7);
    line-height: 32px;
    margin-top: 30px;
}
.about-section .right-side .buttons {
    display: flex;
    gap: 40px;
}
.about-section .right-side .buttons a {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.about-section .right-side .buttons .button-theme-transparent {
    border: 1px solid rgba(0, 0, 0, 0);
    padding-left: 0;
}
.about-section .right-side .buttons .button-theme-transparent:hover {
    border: 1px solid black;
}



/* Serivces Section */
.services-section {
    width: 100%;
    height: 870px;
    background: #F0EFE9;
    padding: 120px;
}

.services-section .container h1 {
    width: 504px;
}
.services-section .container .info-links .umb-block-list {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 48px;
}

.services-section .container .info-links .information-link-card {
    transition: 0.2s ease-in-out;
    padding: 48px 30px;
    background: white;
    width: 308px;
    height: 333px;
    text-decoration: none;
}

.services-section .container .info-links .information-link-card:hover {
    background: #f9d783;
    scale: 1.02;
}

.services-section .container .info-links .information-link-card .horizontal-line {
    height: 1px;
    width: 50px;
    border: 1px solid black;
}

.services-section .container .info-links .information-link-card h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 35px 0 12px 0;
}

.services-section .container .info-links .information-link-card button  {
    float: right;
}


/* Why choose us section */
.choose-us-section {
    height: 630px;
    margin-top: 60px;
    position: relative;
}
.choose-us-section::after {
    content: '';
    position: absolute;
    width: 1000px;
    height: 425px;
    background: #F0EFE9;
    right: 0;
    bottom: 0;
    z-index: -2;
}

.choose-us-section .container {
    display: flex;
    justify-content: space-between;
}

.choose-us-section .container .left-text .umb-block-list {
    width: 450px;

}
.choose-us-section .container .left-text h1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
}

.choose-us-section .container .left-text .info-item {
    display: flex;
    gap: 20px;
    margin-top: 38px;

}

.choose-us-section .container .left-text .info-item .icon {
    width: 60px;
    height: 60px;
    border: 1px solid rgba(25,25,25,0.1 );
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.choose-us-section .container .right-image {
    width: 645px;
    height: 505px;
    margin-top: 27px;
}
.choose-us-section .container .right-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Studies section */
.studies-section {
    text-align: center;
    margin-top: 120px;
    padding-bottom: 60px;
}

.studies-section .studies-articles {
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.studies-section .studies-articles .article-card-image {
   height: 455px;
   width: 640px;
   text-align: left;
   margin-bottom: 50px;
}

.studies-section .studies-articles .article-card-image .image-container {
   width: 100%;
   height: 311px;
   overflow: hidden;
}
.studies-section .studies-articles .article-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s ease-in-out;
    
}
  .studies-section .studies-articles .article-card-image img:hover {
    scale: 1.02;
  }

.studies-section .studies-articles .article-card-image h5{
    margin-top: 35px;
 }
.studies-section .studies-articles .article-card-image a{
    float: right;
    border: none;
    background: white;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 25px;
    padding: 5px 20px;
    transition: 0.2s ease-in-out;
    text-decoration: none;
 }
 .studies-section .studies-articles .article-card-image a:hover{
    scale: 1.1;
    border: 1px solid black;
 }

/* Employees info section */

.employee-info-section {
    padding: 120px 0;
    background: RGBA(240,208,130,0.93 );
 }
 .employee-info-section .container .header-text {
    display: flex;
    justify-content: space-between;
 }

 .employee-info-section .container .header-text button {
    background-color: #F9D783;
 }

 .employee-info-section .container .header-text button:hover {
    background-color: #000000;
    color: white;
 }

 .employee-info-section .container .employee-profiles {
    display: flex;
    gap: 30px;
    margin: 50px 0;
 }
 .employee-info-section .container .employee-profiles .employee-card {
    height: 510px;
    width: 308px;
 }

 .employee-info-section .container .employee-profiles .employee-card .employee-img {
    height: 420px;
    width: 100%;
    margin-bottom: 25px;
 }
 .employee-info-section .container .employee-profiles .employee-card .employee-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
 }

 .employee-info-section .reviews-section {
    text-align: center;
    background: white;
    padding: 100px 80px;
    margin: 100px 7%;
 }
 .employee-info-section .reviews-section .container .review-cards  {
    display: flex;
    justify-content: space-between;
}
.employee-info-section .reviews-section .container .review-cards .review-card {
    text-align: left;
    width: 420px;
    height: 400px;
    padding: 30px;
}
.employee-info-section .reviews-section .container .review-cards .review-text {
    line-height: 34px;
    font-size: 18px;
}

.employee-info-section .reviews-section .container .review-cards .person-info {
    display: flex;
    gap: 20px;
    align-items: center;
}
.employee-info-section .reviews-section .container .review-cards .person-info .profile-image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ffffff;
    outline: 1px solid rgb(207, 207, 207);
}
.employee-info-section .reviews-section .container .review-cards .person-info .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* footer section */
footer {
    background: #0E1021;
    width: 100%;
}
footer hr {
    color: RGBA(255,255,255,0.2 );
}
footer .upper-section {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin-bottom: 88px;
}

footer .container h5 {
    color: white;
    margin-bottom: 25px;
}
footer .container p {
    color: RGBA(255,255,255,0.7 );
}
footer .upper-section a {
    color: RGBA(255,255,255,0.7 );
    text-decoration: none;
    transition: 0.2s ease-in-out;
}
footer .upper-section a:hover {
    color: white;
    text-decoration: none;
    scale: 1.01;
}

footer .upper-section .company-info {
    margin-top: 114px;
    flex: 1.9;
}
footer .upper-section .company-info img {
    margin-bottom: 30px;
}

footer .upper-section .links-component {
    display: flex;
    flex-direction: column;
    margin-top: 132px;
    flex: 1;
    gap: 15px;
}

footer .lower-section {
    display: flex;
    justify-content: space-between;
}


/* Articles and news section */
.article-news-section {
    margin-top: 120px;
    margin-bottom: 90px;

}
.article-news-section h1 {
    font-weight: bold;
}

.article-news-section .header-and-button {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}
.article-news-section .article-cards {
    display: flex;
    gap: 30px;
    overflow: auto;
}
.article-news-section .article-cards::-webkit-scrollbar {
    display: none;
}


/* Breadcrumb */
.breadcrumb {
    background-color: #F0EFE9;
    height: 300px;
    position: relative;
}
.breadcrumb img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.breadcrumb  .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    
}
.breadcrumb .container .breadcrumb-links {
    text-decoration: none;
    z-index: 5;
}
.breadcrumb .container .breadcrumb-links a {
    text-decoration: none;
}

/* contact-information */
.contact-information {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
}
.contact-information .info-box {
    display: flex;
    gap: 20px;
    border: 1px solid RGBA(25,25,25,0.2 );
    width: 420px;
    height: 206px;
    justify-content: center;
    padding-top: 48px;
}

.contact-information .info-box .round-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-information .info-box .round-icon i {
   color: white;
}

.contact-information .info-box .text h5 {
    font-weight: 600;
    margin-bottom: 35px;
}
.contact-information .info-box .text p {
    line-height: 8px;
    color: RGBA(25,25,25,0.8 );
}

/* Contact form */
.contact-form {
    text-align: center;
    background-color: #F0EFE9;
    padding: 100px 146px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-form h1 {
    width: 450px;
    font-weight: bold;
    line-height: 55px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}
.contact-form form input {
    border: none;
    padding: 20px 35px;
    border-radius: 40px;
}
.contact-form form textarea {
    border: none;
    padding: 20px 35px;
    border-radius: 40px;
}
.contact-form form button {
    border: none;
    padding: 20px;
    margin-top: 40px;
}

/* Article page full */
.article-full-detail   {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 70px;
}
.article-full-detail .title-text  {
    width: 600px;
}
.article-full-detail .title-text h1 {
    font-size: 45px;
    font-weight: bold;
}
.article-full-detail .title-text .article-details {
    display: flex;
    gap: 20px;
    font-weight: 500;
}
.article-full-detail .title-text .article-details .circle-seperator{
    width: 10px;
    height: 10px;
    background-color: #F9D783;
    border-radius: 50%;
    margin-top: 5px;
}

.article-full-detail .article-content {
    width: 758px;
}
.article-full-detail .article-content .article-image{
    width: 758px;
    height: 500px;
}

.article-full-detail .article-content .article-image img{
    height: 100%;
    object-fit: cover;    
}
.article-full-detail .article-content .article-text {
    padding: 45px 0;
}

.article-full-detail .article-content .article-tags a {
    padding: 10px 20px;
    background-color: RGBA(25,25,25,0.05 );
    border-radius: 25px;
    text-decoration: none;
    transition: 0.2s ease-in-out;    
    
    
}
.article-full-detail .article-content .article-tags a:hover {
    background-color: #F9D783;
    outline: 1px solid black;
}

.article-full-detail .right-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.article-full-detail .right-section .input-field {
    position: relative;
}
.article-full-detail .right-section .input-field i{
    position: absolute;
    font-size: 20px;
    left: 30px;
    top: 10px;
    transition: 0.1s ease-in-out;
}

.article-full-detail .right-section .input-field input {
   width: 420px;
   padding: 15px 30px;
   background-color: #f3f3f3;
   border: none;
   border-radius: 25px;
   transition: 0.1s ease-in-out;
}

.article-full-detail .right-section .input-field input:focus ~ i {
    opacity: 0;
 }
.article-full-detail .right-section .input-field input:focus::placeholder {
    opacity: 0;
}
.article-full-detail .right-section .input-field input:focus {
    outline: none;
}
.article-full-detail .right-section .input-field input::placeholder {
    position: absolute;
    left: 55px;
    transition: 0.1s ease-in-out;
}
.article-full-detail .right-section .recent-posts {
    width: 420px;
    border: 1px solid rgba(25,25,25,0.2 );
    padding: 40px;
 }
 .article-full-detail .right-section .title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
 }
 .article-full-detail .right-section .title::before {
    content: '';
    position: absolute;
    width: 40px;
    border: 1.5px solid black;
    bottom: 0px;
 }
 .article-full-detail .right-section .recent-posts a {
    width: 300px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    transition: 0.2s ease-in-out;
 }
 .article-full-detail .right-section .recent-posts a:hover {
    scale: 1.02;
 }
 .article-full-detail .right-section .recent-posts p {
    margin: 0;
 }

 .article-full-detail .right-section .categories {
    width: 420px;
    border: 1px solid rgba(25,25,25,0.2 );
    padding: 40px;

 }
 .article-full-detail .right-section .categories .category {
    display: flex;   
    gap: 10px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
 }
 .article-full-detail .right-section .categories .category:hover {
    scale: 1.01;
 }
 .article-full-detail .right-section .categories .category h6 {
    font-weight: bold;
    margin-top: 1px;
 }

/*  article and news grid */
.articles-and-news-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
    margin-top: 120px;
    margin-bottom: 80px;
}
.articles-and-news-section .article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 60px;
}

.articles-and-news-section .page-selector {
    display: flex;
    gap: 5px;
}
.articles-and-news-section .page-selector a{
    height: 38px;
    width: 38px;
    border: 1px  solid #eae9f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}
.articles-and-news-section .page-selector a:hover {
    scale: 1.15;
    background-color: #d5d5d564;
}