@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models


<a href="@Model.Url()" class="employee-card">
    @{
	    var articleImage = Model.Value<MediaWithCrops>("employeeProfileImage");
	}
    <div class="employee-img">
        <img src="@articleImage.Url()" alt="">
    </div>
    <h5 class="font-bold">@Model.Value("employeeProfileName")</h5>
    <p>@Model.Value("employeeProfilePosition")r</p>
</a>
